.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .app {
        justify-content: space-around;
    }
}